//
//  Secrets.xcconfig
//  Dayline
//
//  Created by Jibryll Brinkley on 9/28/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


GNEWS_API_KEY = 84aad7204fca154eca76416b51aa8f24
